{
    "plugins": [["lodash", { "id": ["lodash", "core-decorators"] }]],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": 11
                }
            }
        ]
    ]
}
